* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
}

#grids-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Grid */
.player-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 8px 8px;
    margin: 0 10px;
}

.grid-row {
    display: flex;
}

.human-square, .computer-square {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: lightblue;
}

.board-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/* Human ships */
#ships-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ship {
    display: flex;
    margin: 10px;
}

.ship-square {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: lightslategrey;
}

/* Winner announcement */
#announcement-box {
    position: absolute;
    transform: rotate(20deg);
    font-size: 100px;
    color: khaki;
    text-shadow: 3px 3px black;
}