* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid */
.grid-container {
    width: 500px;
    height: 500px;
    display: grid;
}

.grid-row {
    display: flex;
}

.square {
    width: 100%;
    border: 1px solid black;
    background-color: lightblue;
}

.board-title {
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}